<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="dvmaincontainer">
		  <!--main div container starts here-->
		  <div id="dvtopcontainer">
			<!-- top container starts here-->
			<div id="dvlogocontainer">
			  <!-- logo container starts here-->
			  <h1>Nombre APP</h1>
			  <h4>Slogan...</h4>
			  
			  <!-- logo container ends here-->
			</div>
			<div id="dvnavicontainer">
			  <!-- navogation div starts here-->
			  <img src="img/navi_left.jpg" alt="" />
				<div id="tabs1" >
				<ul>
				  <!-- CSS Tabs -->
				  <li id="current"><a href="#"><span>Home</span></a></li>
				  <li><a href="#"><span>Services</span></a></li>
				  <li><a href="#"><span>Portfolio </span></a></li>
				  <li><a href="#"><span>Blog</span></a></li>
				  <li><a href="#"><span>About Us</span></a></li>
				</ul>
			  </div>
			  <img src="img/navi_right.jpg" alt="" />
			  <!-- navogation div ends here-->
			</div>
			<!-- top container ends here-->
		  </div>
		  
		  <div id="dvbodycontainer">
			<!-- body div starts here-->
			<div id="dvbannerbgcontainer">
			  <!-- banner bg div starts here-->
			  <div class="lftcontainer">
				<div class="dvbannerleft">
				  <!-- banner left div starts here-->
				  <img src="img/light.jpg"  alt="" title=""/>
				  <p><b>Bright Ideas</b> One of our services is our bright ideas and details.</p>
				  <!-- banner left div ends here-->
				</div>
				<div class="dvbannerleft">
				  <!-- banner left div starts here-->
				  <img src="img/home_icon.jpg"  alt="" title=""/>
				  <p><b>Project Quote</b> We provide you with a detailed price quote.</p>
				  <!-- banner left div ends here-->
				</div>
				<div class="dvbannerleft">
				  <!-- banner left div starts here-->
				  <img src="img/rpt.jpg"  alt="" title=""/>
				  <p><b>Environment</b> We care about the environment and our projects.</p>
				  <!-- banner left div ends here-->
				</div>
			  </div>
			  <div id="dvbanner">
				<!-- banner div starts here-->
				<img src="img/banner.jpg"  alt="" title=""/>
				<!-- banner div ends here-->
			  </div>
			  <!-- banner bg div ends here-->
			</div>
			
			<div id="contenido">
			<!-- right panel div starts here-->
			  
			  <h2>Leader in E-Commerce Solutions</h2>
			  <p>We are an eco based web and logo design company. Our main focus is working with companies that are green friendly. We specialize in getting businesses onto the Internet quickly and professionally. From custom logo identity, to fully branded web and print, we can take your business to success!</p>
			  <p>This area is where your intro text can go, and this is what your text links will look like.</p>
			  
			<!-- right panel div ends here-->
			</div>
			
			<!-- body div ends here-->
		  </div>
		  
		<div id="dvfootercontainer">
			<!-- footer div starts here-->
			
			<div id="foottop">
			  <p><span>Copyright &copy; 2008 Your Company Name</span>
			</div>
			
			<!-- footer div ends here-->
		</div>
		
		<!--main div container ends here-->
		</div>
	</body>
</html>
